<div id="game-tetris">
	<div>Tetris</div>
	<div>{{ tileMap.linesCleared }}</div>

	<div id="game-gamestate-display">
		<div *ngIf="showOverlay" id="game-overlay">
			<p>You are currently not logged in.</p>
			<p>Consider logging in if you want to save your score.</p>
		</div>

		<div>
			<div>
				<div *ngFor="let tile of tileMap.tiles" class="tile" [style.grid-column]="tile.point.x + 1" [style.grid-row]="tile.point.y + 1" [ngClass]="tile.content"></div>
			</div>
		</div>
	</div>

	<div id="game-buttons">
		<button pButton (click)="toggleGameLoop()" [icon]="isGameLoopActive ? 'pi pi-pause' : 'pi pi-play'"></button>
		<button pButton (click)="newGame()" icon="pi pi-replay"> </button>
	</div>
</div>