<div id="game-tetris">
	<h2>Tetris</h2>

	<div *ngIf="tileMap">Score : {{ tileMap.linesCleared }}</div>
	<div *ngIf="tileMap">Difficulty : {{ difficultyLevel }}</div>

	<div>
		Seed:
		<input type="text" [(ngModel)]="seed" [disabled]="gameLoopService.isGameLoopActive" />
	</div>

	<div *ngIf="tileMap" id="game-gamestate-display">
		<div>
			<div>
				<div *ngFor="let tile of tileMap.tiles" class="tile" [style.grid-column]="tile.point.x + 1" [style.grid-row]="tile.point.y + 1" [ngClass]="tile.content"></div>
			</div>
		</div>

		<div id="game-next-piece">
			<div>
				<div *ngFor="let tile of nextPieceTileMap.tiles" class="tile" [style.grid-column]="tile.point.x + 1" [style.grid-row]="tile.point.y + 1" [ngClass]="tile.content"></div>
			</div>
		</div>
	</div>



	<div id="game-buttons">
		<div>
			{{ this.gameLoopService.isGameLoopActive ? 'pause' : 'play' }}
			<button pButton (click)="this.gameLoopService.toggleGameLoop()" [icon]="this.gameLoopService.isGameLoopActive ? 'pi pi-pause' : 'pi pi-play'" [disabled]="!this.firstGameStarted"></button>
		</div>

		<div>
			{{ this.firstGameStarted ? 'new' : 'start' }}
			<button pButton (click)="newGame()" icon="pi pi-replay"> </button>
		</div>
	</div>
</div>