<div id="game-tetris">
	<h2>Tetris</h2>
	<!-- <p-progressSpinner id="loadscreen"></p-progressSpinner> -->

	<div *ngIf="tileMap">{{ tileMap.linesCleared }}</div>

	<div *ngIf="tileMap" id="game-gamestate-display">
		<div>
			<div>
				<div *ngFor="let tile of tileMap.tiles" class="tile" [style.grid-column]="tile.point.x + 1" [style.grid-row]="tile.point.y + 1" [ngClass]="tile.content"></div>
			</div>
		</div>
	</div>

	<div id="game-buttons">
		<button pButton (click)="this.gameLoopService.toggleGameLoop()" [icon]="this.gameLoopService.isGameLoopActive ? 'pi pi-pause' : 'pi pi-play'"></button>
		<button pButton (click)="this.gameLoopService.newGame()" icon="pi pi-replay"> </button>
	</div>
</div>