#leaderboard-page
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	padding-top: 2rem
	

#leaderboard-page-content
	display: flex
	flex-direction: column
	align-items: center
	gap: 2rem
	width: 100%
	
	> div
		display: flex
		justify-content: center
		gap: 2rem
		width: 100%
		max-width: 600px
		padding: 0 2rem

app-leaderboard-table
	display: flex
	flex-direction: column
	align-items: stretch
	width: 100%