// Page
#game
	display: flex
	justify-content: center


// Tiles and grid
.tile-grid
	display: grid
	grid-template-rows: row-reverse
	border-bottom: 1px solid black
	border-left: 1px solid black
	border-right: 1px solid black
	transform: scaleY(-1)

.tile
	width: 28px
	height: 28px
	border: 1px solid black


// TetrisPiece classes
.PieceI
	background: cyan

.PieceJ
	background: blue

.PieceL
	background: orange

.PieceO
	background: grey

.PieceL
	background: yellow

.PieceS
	background: green

.PieceT
	background: red

.PieceZ
	background: purple