<app-cookie-popup *ngIf="!cookieService.getKey('cookieConsent')" />

<div id="game">
	<div class="tile-grid">
		<div *ngFor="let tile of tileMap.tiles" class="tile" [style.grid-column]="tile.point.x + 1" [style.grid-row]="tile.point.y + 1" [ngClass]="tile.content">
		</div>
	</div>

	<div>
		<div>{{ frameCounter }} seconds playing</div>
		<div>{{ tileMap.linesCleared}} lines cleared</div>
	</div>

	<p-button (click)="toggleGameLoop()"> {{ isGameLoopActive ? "Pause" : "Resume" }} </p-button>
	<p-button (click)="newGame()"> New Game </p-button>
</div>