<div id="home-page">
	<div id="home-page-content">
		<p-panel header="Welcome to InStack! 🕹️">
			Dive into the captivating world of block-stacking brilliance where Tetris meets innovation.
			<br />
			<br />
			Unleash your skills, shape your strategy, and experience the thrill of InStack - the ultimate Tetris adventure.
			<br />
			Register now, save your scores, and join the InStack community.
			<br />
			Let the pixelated fun begin!
			<br />
			<br />

			Lorem ipsum dolor sit amet consectetur adipisicing elit.
			<br />
			Quia quasi ut, impedit quidem aliquid cupiditate error quam quae necessitatibus omnis, veniam, ea sint libero labore alias fugit blanditiis.
			Nihil, delectus.
			<br />
			<br />
			I don't know what else to write here!
			<br />
			Goodbye.
			<br />
			<br />
			#InStack #OpenAI
		</p-panel>
	</div>
</div>